footer
	background black
	color white
	padding 1em
	position fixed
	width 100%
	bottom 0
	a:hover
		text-decoration none

.content-wrapper
	margin 0 0 0 200px
	padding 0 1em

.nav-wrapper
	background #eaeaea
	position fixed
	height 100%
	width 200px
	figure
		text-align center
		img
			padding 0.5em

.row
	margin 0

.login
	.msg-home
		color #337ab7
		font-size 2em
		font-weight bold
		text-align center
		margin-bottom 10px
	.msg-login
		color white
		font-size 1.1em
		font-weight bold