footer
	background black
	bottom 0
	color white
	padding 1em
	position absolute
	width 100%
	a:hover
		text-decoration none

tfoot
	th
		input
			width 100% !important
			
.content-wrapper
	margin 0 0 0 200px
	padding 0 1em
	
.error-ajax
	color red

.login
	.msg-home
		color #337ab7
		font-size 2em
		font-weight bold
		margin-bottom 10px
		text-align center
	.msg-login
		color white
		font-size 1.1em
		font-weight bold

.nav-wrapper
	background #eaeaea
	height 100%
	position fixed
	width 200px
	figure
		text-align center
		img
			padding 0.5em

.red
	color red

.row
	margin 0

.success-ajax
	color green