bg_content          = #EAEAEA
bg_message          = #F3F3F4
bg_nav              = #003E59
bg_nav_hover        = #094661
bg_logo             = #103A4C
color_border_bottom = #C7CBD4
color_border_nav    = #00A0E3
color_message       = #777

footer
	background black
	bottom 0
	color white
	padding 1em
	position absolute
	width 100%
	a:hover
		text-decoration none

tfoot
	th
		input
			width 100% !important
			
.content-wrapper
	margin 0 0 0 200px
	padding 0 1em
	
.error-ajax
	color red
	
.form-corso
	margin-bottom 1em

.login
	.msg-home
		color #337ab7
		font-size 2em
		font-weight bold
		margin-bottom 10px
		text-align center
	.msg-login
		color white
		font-size 1.1em
		font-weight bold

.nav-wrapper
	background #eaeaea
	height 100%
	position fixed
	width 200px
	figure
		text-align center
		img
			padding 0.5em

.paddingWrapper
    padding 1em

.red
	color red

.row
	margin 0

.success-ajax
	color green
	
.table-data
	background white
	border-top 3px solid bg_nav
	box-shadow 0px 1px 3px 0px rgba(0,0,0,0.75)
	
.table-header
	border-bottom 1px solid color_border_bottom
	font-family Arial
	padding .5em

.table-content
	font-size .9em
	padding 1em 0em
	table
		margin-top 1em

.table-content
	thead
		tr
			background-color bg_content
			th
				text-align center
	.edit-row
		a
			padding-left 1em
			font-size 1.1em
		a:hover
			text-decoration none